.header-container {
	position: relative;
	min-height: 70px;
	@include breakpoint(tablet) {
		position: fixed;
	    width: 100%;
	    background-color: #fff;
	    left: 0;
	    height: 70px;
	}
	header {
		display: block;
		h1 {
			overflow: hidden;
			display: block;
			height: 47px;
			min-width: 153px;
			background: url('/assets/images/logo.svg') center center no-repeat;
			margin: 5px;
			@include breakpoint(tablet) {
				z-index: 6;
				position: relative;
			}
			strong {
				overflow: hidden;
				display: block;
				text-indent: -999em;
			}
		}
	}
	nav.main-nav {
		padding: 10px 0;
		@include breakpoint(tablet) {
			position: fixed;
			background-color: #fff;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: all 0.25s ease-in;
		}

		ul.nav {
			@include breakpoint(tablet) {
				margin-top: 50px;
			}
			li {
				display: inline-block;
				font-size: 12px;
				text-transform: uppercase;

				@include breakpoint(laptop) {
					font-size: 10.5px;
				}

				@include breakpoint(tablet) {
					display: block;
					width: 100%;
					font-size: 26px;
				}
				a {
					padding: 10px 9px;
					transition: all 0.25s ease-in;
					@include breakpoint(laptop) {
						padding: 10px 5px;
					}
				}
				&.active {
					a {
						position: relative;
						&:before{
							content: '';
							position: absolute;
							bottom: 6px;
							left: 10%;
							width: 80%;
							height: 2px;
							background-color: $main-blue;
							display: block;
							@include breakpoint(tablet) {
								display: none;
							}
						}
						@include breakpoint(tablet) {
							background-color: $main-blue;
							color: #fff;
						}
						&:hover {
							background-color: transparent;
							@include breakpoint(tablet) {
								background-color: $main-blue;
								color: #fff;
							}
						}
					}
				}
			}
		}
		.action-btn {
			@include breakpoint(tablet) {
				text-align: center;
				margin-top: 41px;
			}
			.btn {
				font-size: 11px;
				text-transform: uppercase;
				margin-top: 3px;
				@include breakpoint(laptop) {
					font-size: 10px;
					margin-top: 5px;
					padding: 5px;
				}
				@include breakpoint(tablet) {
					font-size: 18px;
					padding: 10px 15px;
				}
			}
		}
		.search-content {
			margin-top: 3px;
			@include breakpoint(tablet) {
				width: 100%;
				position: fixed;
				top: 110px;
				left: 0;
				padding: 0 15px;
				.input-group{
					width: 100%;
					input{
						width: 100%;
					}
				}
			}
		}
	}
	hr.shadow {
		border: none;
		width: 100%;
		height: 50px;
		border-bottom: 1px solid transparent;
		box-shadow: 0 20px 20px -20px #333;
		margin: -50px auto 10px;
		position: absolute;
		left: 0;
		top: 60px;
		z-index: -1;
	}

	.mobileToggle {
		position: absolute;
		top: 10px;
		right: 10px;
		height: 36px;
		width: 46px;
		border: 1px solid $main-blue;
		overflow: hidden;
		border-radius: 5px;

		&:hover { cursor: pointer; }

		.line {
			top: 50%;
			padding-top: 0;
			transform: translateY(-50%);
			position: absolute;
			height: 2px;
			width: 26px;
			background-color: $main-blue;
			left: 50%;
			margin-left: -13px;
			transition: transform 0.2s;

			&:before, 
			&:after {
				content: '';
				display: block;
				position: absolute;
				height: 2px;
				width: 26px;
				background-color: $main-blue;
				left: 50%;
				margin-left: -13px;
				transition: transform 0.2s;
			}

			&:before {
				top: -8px;
			}

			&:after {
				bottom: -8px;
			}
		}

		&.active {

			.line {
				top: -3px;
				transform: none;

				&:after {
					top: 20px;
					transform: rotate(-140deg);
					transition: transform 0.2s;
				}
				&:before {
					top: 20px;
					transform: rotate(140deg);
					transition: transform 0.2s;
				}
			}
		}
	}
}