header {
	display: block;
	h1 {
		overflow: hidden;
		display: inline-block;
		width: 100%;
		height: 47px;
		background: url('/assets/images/logo.jpg') center center no-repeat;
		margin: 5px;
		strong {
			overflow: hidden;
			display: block;
			text-indent: -999em;
		}
	}
}
nav.main-nav {
	padding: 10px 0;
	ul {
		li {
			display: inline-block;
		}
	}
}