@font-face {
	font-family: 'Rubik-Regular';
	src: url('../../fonts/Rubik-Regular.eot');
	src: local('☺'),url('../../fonts/Rubik-Regular.woff') format('woff'),url('../../fonts/Rubik-Regular.ttf') format('truetype'),url('../../fonts/Rubik-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Rubik-Medium';
	src: url('../../fonts/Rubik-Medium.eot');
	src: local('☺'),url('../../fonts/Rubik-Medium.woff') format('woff'),url('../../fonts/Rubik-Medium.ttf') format('truetype'),url('../../fonts/Rubik-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Rubik-Bold';
	src: url('../../fonts/Rubik-Bold.eot');
	src: local('☺'),url('../../fonts/Rubik-Bold.woff') format('woff'),url('../../fonts/Rubik-Bold.ttf') format('truetype'),url('../../fonts/Rubik-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}