// FONTS
$font-base:			'Abel', sans-serif;
$font-title:		'norwester-regular';
$font-link:			'courier-prime';

// COLORS
$main-blue:			#007aff;
/* $main-red:			#f63440;
$dark-grey:			#241f21; // black
$medium-grey:		#a9a9a9;
$light-grey:		#fafafa;
$light-blue:		#c0e4ea; //river
$white:				#fff; */

// BREAKPOINTS
@mixin breakpoint($point) {
	@if $point == bigdesktop {
		@media (max-width: 1600px) { @content ; }
	}
	@if $point == desktop {
		@media (max-width: 1440px) { @content ; }
	}
	@else if $point == laptop {
		@media (max-width: 1200px) { @content ; }
	}
	@else if $point == tablet {
		@media (max-width: 991px) { @content ; }
	}
	@else if $point == phablet {
		@media (max-width: 768px)  { @content ; }
	}
	@else if $point == phabletonly {
		@media (max-width: 768px) and (max-width: 1024px) { @content ; }
	}
	@else if $point == largemobile {
		@media (max-width: 361px)  { @content ; }
	}
	@else if $point == phargemobile {
		@media (max-width: 768px) and (orientation: landscape) { @content ; }
	}
}