// FONTS
$font-regular:		'Rubik-Regular';
$font-medium:		'Rubik-Medium';
$font-bold:			'Rubik-Bold';

// COLORS
$main-blue:			#007aff;

// BREAKPOINTS
@mixin breakpoint($point) {
	@if $point == bigdesktop {
		@media (max-width: 1600px) { @content ; }
	}
	@if $point == desktop {
		@media (max-width: 1440px) { @content ; }
	}
	@else if $point == laptop {
		@media (max-width: 1200px) { @content ; }
	}
	@else if $point == tablet {
		@media (max-width: 991px) { @content ; }
	}
	@else if $point == phablet {
		@media (max-width: 768px)  { @content ; }
	}
	@else if $point == phabletonly {
		@media (max-width: 768px) and (max-width: 1024px) { @content ; }
	}
	@else if $point == largemobile {
		@media (max-width: 361px)  { @content ; }
	}
	@else if $point == phargemobile {
		@media (max-width: 768px) and (orientation: landscape) { @content ; }
	}
}
@mixin placeholder($color) {
	::-webkit-input-placeholder {color: $color}
	:-moz-placeholder           {color: $color}
	::-moz-placeholder          {color: $color}
	:-ms-input-placeholder      {color: $color}
}