body{
	padding-top: 80px;
}
.pages {
	color: #000;
}
.home #menu-menu-disponibilidad li:first-child{
	a {
		position: relative;
		&:before{
			content: '';
			position: absolute;
			bottom: 6px;
			left: 10%;
			width: 80%;
			height: 2px;
			background-color: $main-blue;
			display: block;
			@include breakpoint(tablet) {
				display: none;
			}
		}
		@include breakpoint(tablet) {
			background-color: $main-blue;
			color: #fff;
		}
		&:hover {
			background-color: transparent;
			@include breakpoint(tablet) {
				background-color: $main-blue;
				color: #fff;
			}
		}
	}
}
.contact-page {
	textarea {
		resize: none;
	}
	.contact-info {
		padding-top: 65px;
		@include breakpoint(tablet) {
			padding-top: 95px;
		}
		.details {
			margin-top: 80px;
			@include breakpoint(tablet) {
				margin-top: 30px;
			}
			p {
				margin-bottom: 15px;
			}
		}
	}
	.google-map {
		position: relative;
		padding-bottom: 80%;
		height: 0;
		overflow: hidden;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
.product-detail-page {
	.nav-tabs {
		margin-top: 25px;
		border-bottom: 0;
		li {
			&.active {
				position: relative;
				border: 0;
				&:after {
					content: '';
					display: block;
					position: absolute;
					width: 80%;
					height: 2px;
					left: 10%;
					bottom: 5px;
					background-color: $main-blue;
				}
			}
			a {
				text-transform: uppercase;
				border: 0;
				&:hover, &:visited, &:active, &:focus{
					border: 0;
				}
			}
		}
	}
	.tab-content {
		padding: 30px 10px;
	}
	#description, #specifications {
		p {
			margin: 20px 0;
			line-height: 200%;
			strong {
				font-family: $font-bold;
			}
		}
	}
	.related-products {
		margin-top: 25px;
		& > h4 {
			margin-bottom: 30px;
			font-family: $font-medium;
		}
	}
}
.error-page {
	padding: 40px 15px;
	text-align: center;
	img {
		margin: 0 auto;
	}
	h1.404error {
		font-size: 100px;
	}
}
