.pages {
	color: #000;
}
.contact-page {
	.contact-info {
		padding-top: 65px;
		@include breakpoint(tablet) {
			padding-top: 95px;
		}
		.details {
			margin-top: 80px;
			@include breakpoint(tablet) {
				margin-top: 30px;
			}
			p {
				margin-bottom: 15px;
			}
		}
	}
	.google-map {
		position: relative;
		padding-bottom: 80%;
		height: 0;
		overflow: hidden;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100% !important;
		}
	}
}