.main-content {
	min-height: calc(100vh - 170px);/* 70px header+100px footer */
	@include breakpoint(tablet) {
		padding-top: 80px;
	}
}
.position-initial {
	position: initial;
}
.module-header {
	h3 {
		font-size: 13px;
		color: $main-blue;
		vertical-align: middle;
		position: relative;
		margin-bottom: 20px;
		@include breakpoint(tablet) {
			margin-top: 20px;
		}
		&:before {
			content: '';
			height: 1px;
			background-color: #000;
			position: absolute;
			bottom: -2px;
			width: 70px;
		}
	}
}

