.icon {
	width: 24px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
}
.icon-edit {
	background: url('../images/icon-edit.jpg') no-repeat center center;
}
.icon-location {
	background: url('../images/icon-location.jpg') no-repeat center center;
	width: 15px;
}
.icon-projector {
	background: url('../images/icon-projector.jpg') no-repeat center center;
}
.icon-lens {
	background: url('../images/icon-lens.jpg') no-repeat center center;
}
.icon-escaladores {
	background: url('../images/icon-escaladores.jpg') no-repeat center center;
}
.icon-watch {
	background: url('../images/icon-watch.jpg') no-repeat center center;
	width: 17px;
	height: 23px;
	margin-right: 8px;
}
.icon-phone {
	background: url('../images/icon-phone.jpg') no-repeat center center;
	width: 17px;
	height: 23px;
	margin-right: 6px;
}
.icon-email {
	background: url('../images/icon-email.jpg') no-repeat center center;
	width: 23px;
	height: 17px;
	margin-right: 3px;
}