.morphsearch {
	width: 200px;
	min-height: 30px;
	background: #fff;
	position: absolute;
	z-index: 51;
	top: 12px;
	right: 30px;
	border: solid 1px #a9a9a9;
	border-radius: 3px;
	transform-origin: 100% 0;
	transition-property: min-height,width,top,right;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(.7,0,.3,1);
	@include breakpoint(laptop) {
		width: 120px;
	}
	@include breakpoint(tablet) {
		width: auto;
		top: 112px;
		right: 15px;
		left: 15px;
	}
	&.open {
		width: 100%;
		min-height: 100%;
		top: 0;
		right: 0;
		left: 0;
		border-color: #fff;
		box-shadow: 0 0 10px 0 rgba(0,0,0,.5);

		.morphsearch-form {
			width: 80%;
			height: 160px;
			transform: translate3d(0,3em,0);
		}
		.morphsearch-input {
			font-size: 7em;
			@include breakpoint(tablet) {
				font-size: 2em;
			}
		}
		.morphsearch-submit {
			pointer-events: auto;
			opacity: 1;
			transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
			transition: opacity .3s,transform .3s;
			transition-delay: .5s;
			@include breakpoint(tablet) {
				transform: translate3d(0,-50%,0) scale3d(.5,.5,1);
			}
		}
		.morphsearch-close {
			opacity: 1;
			pointer-events: auto;
			transform: scale3d(1,1,1);
			transition: opacity .3s,transform .3s;
			transition-delay: .5s;
			@include breakpoint(laptop) {
				top: 98px;
				right: 15px;
			}
		}
		.morphsearch-content {
			font-size: 14px;
			opacity: 1;
			height: auto;
			overflow: visible;
			pointer-events: auto;
			transition: opacity .3s .5s;
			padding-top: 20px;
		}
	}
	&.hideInput {
		.morphsearch-input {
			color: transparent;
			transition: color .3s;
		}
	}
	.morphsearch-form {
		width: 100%;
		height: 30px;
		margin: 0 auto;
		position: relative;
		transition-property: width,height,transform;
		transition-duration: .5s;
		transition-timing-function: cubic-bezier(.7,0,.3,1);
	}
	.morphsearch-input {
		width: 100%;
		height: 100%;
		padding: 0 10% 0 10px;
		font-weight: 700;
		border: none;
		background: transparent;
		font-size: .8em;
		color: #ec5a62;
		transition: font-size .5s cubic-bezier(.7,0,.3,1);
		&:-ms-clear { /* remove cross in IE */
			display: none;
		}
		@include placeholder('#c2c2c2');
		&:focus {
			outline: none;
		}
		@include breakpoint(tablet) {
			padding: 0 25% 0 10px;
		}
	}
	.morphsearch-submit {
		position: absolute;
		width: 80px;
		height: 80px;
		text-indent: 100px;
		overflow: hidden;
		right: 0;
		top: 50%;
		background: transparent url('/assets/images/magnifier.svg') no-repeat center center;
		background-size: 100%;
		border: none;
		pointer-events: none;
		transform-origin: 50% 50%;
		opacity: 0;
		transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
		&:focus {
			outline: none;
		}
	}
	.morphsearch-close {
		width: 36px;
		height: 36px;
		position: absolute;
		right: 1em;
		top: 1em;
		overflow: hidden;
		text-indent: 100%;
		cursor: pointer;
		pointer-events: none;
		opacity: 0;
		transform: scale3d(0,0,1);
		&:after, &:before {
			content: '';
			position: absolute;
			width: 2px;
			height: 100%;
			top: 0;
			left: 50%;
			border-radius: 3px;
			opacity: .2;
			background: #000;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
		&:hover {
			&:after, &:before {
				opacity: 1;
			}
		}
	}
	.morphsearch-content {
		color: #333;
		margin-top: 4.5em;
		width: 100%;
		height: 0;
		overflow: hidden;
		padding: 0 10.5%;
		background: #f1f1f1;
		pointer-events: none;
		opacity: 0;
		font-size: 0;
	}
}
