.product-a {
	margin-bottom: 10px;
	.content-img {
		position: relative;
		img {
			width: 100%;
		}
	}
	.content-detail {
		h3.title{
			font-family: $font-bold;
			font-weight: normal;
			font-size: 21px;
			color: #000;
			margin-bottom: 5px;
		}
		h4.sub-title{
			font-family: $font-medium;
			font-weight: normal;
			font-size: 18px;
			color: #000;
			margin-top: 0;
		}
		hr {
			border-color: #000;
			margin: 15px 0;
		}
	}
}
.product-b {
	margin-bottom: 10px;
	padding: 5px;
	max-height: 375px;
	overflow: hidden;
	transition: all .3s ease;
	.content-img {
		position: relative;
		text-align: center;
		height: 170px;
		overflow: hidden;
		img {
			max-height: 140px;
			max-width: 100%;
		}
	}
	.content-detail {
		h3.title{
			font-family: $font-bold;
			font-weight: normal;
			font-size: 18px;
			color: #000;
			margin-bottom: 5px;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		h4.sub-title{
			font-family: $font-medium;
			font-weight: normal;
			font-size: 14px;
			color: #000;
			margin-top: 0;
			min-height: 15px;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		hr {
			border-color: #000;
			margin: 15px 0;
		}
		.description {
			height: 51px;
			overflow: hidden;
		}
	}
}
.product-b, .product-a{
	.show-more {
		margin-top: 20px;
		border: 2px solid $main-blue;
		background: #fff;
		box-shadow: none;
		color: $main-blue;
		font-weight: bold;
		border-radius: 0;
		transition: all .3s ease-in-out;
		&:hover{
			border-color: lighten($main-blue,20%);
			color: lighten($main-blue,20%);
			background: #fff;
		}
		&:active{
			border-color: darken($main-blue,20%);
			color: darken($main-blue,20%);
			background: #fff;
		}
	}
}