.product-a {
	margin-bottom: 10px;
	.content-img {
		img {
			width: 100%;
		}
	}
	.content-detail {
		h3.title{
			font-family: $font-bold;
			font-weight: normal;
			font-size: 21px;
			color: #000;
			margin-bottom: 5px;
		}
		h4.sub-title{
			font-family: $font-medium;
			font-weight: normal;
			font-size: 18px;
			color: #000;
			margin-top: 0;
		}
		hr {
			border-color: #000;
			margin: 15px 0;
		}
	}
	.show-more {
		margin-top: 20px;
	}
}
.product-b {
	margin-bottom: 10px;
	padding: 5px;
	max-height: 345px;
	overflow: hidden;
	transition: all .3s ease;
	.content-img {
		img {
			width: 100%;
		}
	}
	.content-detail {
		h3.title{
			font-family: $font-bold;
			font-weight: normal;
			font-size: 18px;
			color: #000;
			margin-bottom: 5px;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		h4.sub-title{
			font-family: $font-medium;
			font-weight: normal;
			font-size: 14px;
			color: #000;
			margin-top: 0;
			min-height: 15px;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		hr {
			border-color: #000;
			margin: 15px 0;
		}
		.description {
			height: 51px;
			overflow: hidden;
		}
	}
	.show-more {
		margin-top: 20px;
	}
}