.product-a {
	margin-bottom: 10px;
	.content-img {
		img {
			width: 100%;
		}
	}
	.content-detail {
		h3.title{
			font-family: $font-bold;
			font-weight: normal;
			font-size: 21px;
			color: #000;
			margin-bottom: 5px;
		}
		h4.sub-title{
			font-family: $font-medium;
			font-weight: normal;
			font-size: 18px;
			color: #000;
			margin-top: 0;
		}
		hr {
			border-color: #000;
			margin: 15px 0;
		}
	}
}
.product-b {
	margin-bottom: 10px;
	.content-img {
		img {
			width: 100%;
		}
	}
	.content-detail {
		h3.title{
			font-family: $font-bold;
			font-weight: normal;
			font-size: 18px;
			color: #000;
			margin-bottom: 5px;
		}
		h4.sub-title{
			font-family: $font-medium;
			font-weight: normal;
			font-size: 14px;
			color: #000;
			margin-top: 0;
		}
		hr {
			border-color: #000;
			margin: 15px 0;
		}
		.description {
			p {
				height: 50px;
				overflow: hidden;
			}
		}
	}
}