.slick-slider {
	position: relative;
	&:before, &:after {
		z-index: -1;
		position: absolute;
		content: '';
		bottom: 15px;
		left: 10px;
		width: 50%;
		top: 80%;
		max-width: 300px;
		background: #777;
		box-shadow: 0 15px 10px #777;
		transform: rotate(-3deg);
	}
	&:after {
		transform: rotate(3deg);
		right: 10px;
		left: auto;
	}
	.item {
		position: relative;
		height: 445px;
		background-image: linear-gradient(120deg,#fdfbfb 0%,#ebedee 100%);
		@include breakpoint(laptop) {
			height: 375px;
		}
		@include breakpoint(tablet) {
			height: 285px;
		}
		img {
			float: right;
			@include breakpoint(tablet) {
				height: 285px;
			}
		}
		h2, h3, p{
			position: absolute;
			z-index: 2;
			left: 5%;
			@include breakpoint(laptop) {
				left: 10%;
			}
		}
		h2{
			top: 50px;
			color: $main-blue;
		}
		h3{
			top: 20px;
			color: #000;
		}
		p{
			color: #000;
			top: 160px;
			max-width: 430px;
			@include breakpoint(tablet) {
				display: none;
			}
		}
	}
}