.slick-slider {
	margin-bottom: 80px !important;
	position: relative;
	&:before, &:after {
		z-index: -1;
		position: absolute;
		content: '';
		bottom: 15px;
		left: 10px;
		width: 50%;
		top: 80%;
		max-width: 300px;
		background: #777;
		box-shadow: 0 15px 10px #777;
		transform: rotate(-3deg);
	}
	&:after {
		transform: rotate(3deg);
		right: 10px;
		left: auto;
	}
	.item {
		position: relative;
		height: 445px;
		overflow: hidden;
		background-image: linear-gradient(120deg,#fdfbfb 0%,#ebedee 100%);
		@include breakpoint(laptop) {
			height: 375px;
		}
		@include breakpoint(tablet) {
			height: 225px;
		}
		img {
			float: right;
			width: 55%;
			@include breakpoint(tablet) {
				float: none;
				width: 100%;
				height: auto;
			}
		}
		h2, h3, p{
			position: absolute;
			z-index: 2;
			left: 5%;
			@include breakpoint(laptop) {
				left: 10%;
			}
		}
		h2{
			top: 50px;
			z-index: 3;
			color: $main-blue;
		}
		h3{
			top: 20px;
			z-index: 3;
			color: #000;
			@include breakpoint(tablet) {
				color: #fff;
			}
		}
		.overlay{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,.5);
			z-index: 2;
		}
		p{
			color: #000;
			top: 160px;
			max-width: 35%;
			@include breakpoint(tablet) {
				display: none;
			}
		}
	}
}